html,
body {
    height: 100%;
}

.navbar {
    border-bottom: 1px dotted white;
}

.container-fluid {
    position: absolute;
    height: 100%;
    padding-top: 57px;
    overflow: hidden;
}

.box {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    background-image: url(https://kathleenhalme.com/images/arrow-clipart.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 300px 100px;
}

svg {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
}
